flows.json
[{"id":"23c67a44370c4795","type":"tab","label":"PCMR Team 2D Vision","disabled":false,"info":"","env":[]},{"id":"3d414bb96a79546c","type":"Start Robot Flow","z":"23c67a44370c4795","name":"CV2D","robot":"1fa10decd9e2020a","x":90,"y":160,"wires":[["f24ed685c0d396ab"]]},{"id":"c0a11461626e0c11","type":"End Robot Flow","z":"23c67a44370c4795","x":870,"y":160,"wires":[[]]},{"id":"f24ed685c0d396ab","type":"Movement","z":"23c67a44370c4795","name":"Move to init pos","approachVelocity":"50","approachAcceleration":"50","robot":"1fa10decd9e2020a","sequence":[{"type":"cartValues","name":"Ref Point","approachMode":2,"jointAngles":[],"cartValues":[-600,-300,600,-135,0,180]}],"x":300,"y":160,"wires":[["64d0530be9dff6fc"]]},{"id":"64d0530be9dff6fc","type":"http request","z":"23c67a44370c4795","name":"Get Obj 3D points","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.3.154:5000/","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":530,"y":160,"wires":[["7c1e5d7926e255af","e8b7cc455ec90aeb"]]},{"id":"7c1e5d7926e255af","type":"function","z":"23c67a44370c4795","name":"CV2D","func":"var httpResp = msg.payload;\n//                          [-600, -300, 600, -135, 0, 180],\n//                         [-690, -132, 70, -135, 0, 180],\n//                         [-600, -300, 600, -135, 0, 180],\n//                         [-641, -380, 70, -135, 0, 180],\n\n// var httpResp = {\n//     \"Coordinates\": [\n//         [-593, -181, 600],\n//         [-694, -164, 600],\n//         [-596, -294, 600],\n//         [-672, -248, 600],\n//         [-758, -284, 600],\n//     ]\n// }\n\nlet cords3D = httpResp.Coordinates\nnode.warn(cords3D)\nvar calibrated_orientation = [-135, 0, 180]\nvar calibrated_pos = [-600, -300, 600, -135, 0, 180]\nvar box_center_pos = [-870, 150, 300, -135, 0, 180]\nvar release_obj_pos = [-870, 150, 100, -135, 0, 180]\n\n// Translate the robot the calculated 3d positions\n\nconst robot = msg.robot;\n\nfunction sleep(milliseconds){\n    return new Promise(resolve => setTimeout(resolve, milliseconds))\n}\n\nasync function pick_and_place(coordinate){\n    coordinate[2] = 70\n    coordinate = coordinate.concat(calibrated_orientation)\n    node.warn(coordinate)\n    // Move to pick the obj\n    await robot.setPose(coordinate, 2, 255, 255, {});\n    // Initiate suction\n    await robot.setOutput(4, 1);\n    await sleep(1000)\n    // Lift the part\n    var table_center_pos = coordinate\n    table_center_pos[2] = 100\n    await robot.setPose(table_center_pos, 2, 255, 200, {});\n    // Move to box position\n    await robot.setPose(box_center_pos, 2, 255, 255, {});\n    // Stop suction\n    await robot.setOutput(4, 0);\n    // Move to release position\n    await robot.setPose(release_obj_pos, 2, 255, 255, {});\n    // Stop suction\n    await robot.setOutput(4, 0);\n    await sleep(3000)\n    // Move to box position\n    await robot.setPose(box_center_pos, 2, 255, 255, {});\n    // Move to init pos\n    await robot.setPose(calibrated_pos, 2, 255, 255, {});\n};\n\nasync function cv2d(){\n    node.warn(\"----------------  Moving  Start -------------\");\n    var i;\n    //for each coordinate\n    for(i = 0; i <= cords3D.length; i++){\n        await pick_and_place(cords3D[i]).then(() => {\n            node.send(msg)\n        });\n    };\n    node.warn(\"----------------  Moving  End -------------\");\n}\ncv2d().then(() => {\n    node.send(msg)\n});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":160,"wires":[["c0a11461626e0c11"]]},{"id":"e8b7cc455ec90aeb","type":"debug","z":"23c67a44370c4795","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"d788a44e353c1c8d","type":"exec","z":"23c67a44370c4795","command":"ping -c 3 192.168.3.154","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":250,"y":360,"wires":[["a667566bb0beec00"],["a667566bb0beec00"],["a667566bb0beec00"]]},{"id":"77ebec1171de5312","type":"inject","z":"23c67a44370c4795","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":460,"wires":[["d788a44e353c1c8d"]]},{"id":"a667566bb0beec00","type":"debug","z":"23c67a44370c4795","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":340,"wires":[]},{"id":"1fa10decd9e2020a","type":"Robot","name":"Robby","manufacturer":"RobCo","adr":"localhost","targetPort":"25000","listeningPort":"25001","inputs_names":["Input 1","Input 2","Input 3","Input 4","Input 5","Input 6","Input 7","Input 8"],"outputs_names":["Output 1","Output 2","Output 3","Output 4","Output 5","Output 6","Output 7","Output 8"],"velocity":"29","acceleration":"50"}]